<h3 nz-typography>Add Product</h3>
<div class="row">
  <div class="col-md-8 col-xs-12">
    <form nz-form [formGroup]="productForm">
      <nz-form-item class="d-block">
        <nz-form-label nzFor="name">name</nz-form-label>
        <nz-form-control>
          <input nz-input formControlName="name" placeholder="name" type="text" id="name">
        </nz-form-control>
      </nz-form-item>
      <nz-form-item class="d-block">
        <nz-form-label nzFor="name">description</nz-form-label>
        <nz-form-control>
          <ckeditor [config]="{placeholder: 'description'}" [editor]="editor" placeholder="desc"
            formControlName="description"></ckeditor>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item class="d-block">
        <nz-form-label nzFor="name">images</nz-form-label>
        <nz-form-control>
          <nz-upload
            [nzAction]="imageUploadAction" nzListType="picture-card"
            [(nzFileList)]="images"
            [nzBeforeUpload]="false"
            [nzShowButton]="images.length < 10"
            [nzPreview]="handlePreview"
            (nzChange)="removeImage($event)"
            >
            <div>
              <i nz-icon nzType="plus"></i>
              <div style="margin-top: 8px">Upload</div>
            </div>
          </nz-upload>
          <nz-modal [nzWidth]="1000" [nzVisible]="previewVisible" [nzContent]="modalContent" [nzFooter]="null"
            (nzOnCancel)="previewVisible = false">
            <ng-template #modalContent>
              <app-image-cropper [aspect]="1" [image]="previewImage"></app-image-cropper>
            </ng-template>
          </nz-modal>
        </nz-form-control>
      </nz-form-item>
    </form>
  </div>
</div>
