<div class="row">
  <div class="col-lg-6 col-md-8 col-xs-12">
    <form class="search-form" (submit)="applySearch()">
      <input nz-input placeholder="search for products" name="searchValue" [(ngModel)]="searchValue" />
      <button nz-button nzType="primary">Search</button>
    </form>
  </div>
  <div class="col-lg-6 col-md-4 col-xs-12 mt-1 mt-md-0 addProd">
    <a routerLink="/admin/products/addproduct" nz-button nzType="primary">Add Product</a>
  </div>
</div>
<section class="products-table">
  <nz-table #middleTable nzSize="middle" [nzLoading]="loading" [nzScroll]="{ x: '992px' }" [nzData]="products"
    [nzFrontPagination]="false" [nzTotal]="count" [nzPageSize]="8" [nzPageIndex]="page"
    (nzQueryParams)="onQueryParamsChange($event)">
    <thead>
      <tr>
        <th nzWidth="50px"><strong>#</strong></th>
        <th nzWidth="300px"><strong>Name</strong></th>
        <th><strong>Brand</strong></th>
        <th><strong>Price</strong></th>
        <th><strong>Category</strong></th>
        <th><strong>Count</strong></th>
        <th><strong>Rating</strong></th>
        <th><strong>Date</strong></th>
        <th><strong>Action</strong></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of middleTable.data; let i = index">
        <td>{{i+1}}</td>
        <td>{{ data.name.length > 84 ? data.name.slice(0, 84) + '...':data.name }}</td>
        <td>{{ data.brand }}</td>
        <td>{{ data.price }}</td>
        <td>{{ data.category.name }}</td>
        <td>{{ data.countInStock }}</td>
        <td>{{ data.rating }}</td>
        <td>{{ data.dateCreated | date: 'dd/MM/yyyy' }}</td>
        <td>
          <button nz-button nzType="primary" class="mr-1 updatebtn" (click)="updateProduct(data.id)">
            <i nz-icon nzType="edit" nzTheme="outline"></i>
          </button>
          <button nz-button nzDanger (click)="confirmDelete(data.id)">
            <i nz-icon nzType="delete" nzTheme="outline"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </nz-table>
</section>
