.search-form {
  display: flex;

  input {
    margin-right: 10px;
  }
}
.products-table {
  margin-top: 15px;
}
::ng-deep .updatebtn.ant-btn-primary{
  background-color: #0077c0;
  border-color: #0077c0;
}

.addProd {
  text-align: right;
}
