
<div class="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <h2 class="title-of-site">About Our Project</h2>
        <p class="par">
          Warehouse robotics is an umbrella term used to refer to the usage of robots, automated systems and other complex software systems in tandem with the Warehouse ERP systems (WMS) to automate and streamline warehouse processes. Warehouse robotics has been gaining prominence over the past decade owing to reduced costs of ownership, increased demand for cost-effective & high-throughput warehouses.
          Warehouse robots are the most effective replacement to minimize the pressure and availability of manual labor. They are mainly used for heavy lifting, picking up packages, transporting, and other tasks in the facility. They require little space, provide flexibility in managing varying demand requirements, and are able to work 24/7. This makes them particularly fit for e-commerce operations. The growing market of Internet of Things, Artificial Intelligence, and machine learning in the warehouse industry is forecasted to grow in the robot market in the near future.
          In order to build the project i.e technology roadmap our team did market research, analyzed the competitors, identified target customers, analyzed market, product and pricing strategy and at the end came up with the Technology Roadmap.
        </p>
      </div>
      <div class="col-lg-6">
        <img class="robot" src="assets/robot.jpeg" alt="robot">
      </div>
    </div>
  </div>
</div>

