<div class="home">
  <app-carousel></app-carousel>
  <section class="departs">
    <div class="container">
      <h2 class="title">What are you looking for?</h2>
      <div class="departs-container">
          <swiper class="swiper" [config]="circlarConfig" [index]="0">
            <div class="swiper-slide" *ngFor="let depart of departs">
              <app-circular [text]="depart.name"></app-circular>
            </div>
            <div class="swiper-slide" *ngFor="let depart of departs">
              <app-circular [text]="depart.name"></app-circular>
            </div>
          </swiper>
      </div>
    </div>
  </section>
  <div class="container">
    <nz-divider></nz-divider>
  </div>
  <section class="featured-products">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <div class="feat-title">
            <h2>Check out our best mobile deals with up to 20% discount!</h2>
          </div>
        </div>
        <div class="col-md-7">
          <div class="cards-container">
            <!-- <app-prod-card [product]="{title: 'samsung', oldPrice: 2000, newPrice: 1500, rating: .9, ratingNum: 32}">
            </app-prod-card>
            <app-prod-card [product]="{title: 'samsung', oldPrice: 2000, newPrice: 1500, rating: .9, ratingNum: 32}">
            </app-prod-card>
            <app-prod-card [product]="{title: 'samsung', oldPrice: 2000, newPrice: 1500, rating: .9, ratingNum: 32}">
            </app-prod-card> -->
          </div>
        </div>
        <div class="col-md-2">
          <a href="#" class="show-more">show more...</a>
        </div>
      </div>
      <div class="poster">
        <a href="#">
          <img src="assets/poster.jpg" alt="poster">
        </a>
      </div>
      <div class="container">
        <nz-divider></nz-divider>
      </div>
      <div class="most-feat">
        <h2 class="title">featured products</h2>
        <div class="most-feat-container">
          <!-- <swiper class="swiper" [config]="config" [index]="0">
            <div class="swiper-slide">
              <app-prod-card [product]="{title: 'samsung', oldPrice: 2000, newPrice: 1500, rating: .9, ratingNum: 32}">
              </app-prod-card>
            </div>
            <div class="swiper-slide">
              <app-prod-card [product]="{title: 'samsung', oldPrice: 2000, newPrice: 1500, rating: .9, ratingNum: 32}">
              </app-prod-card>
            </div>
            <div class="swiper-slide">
              <app-prod-card [product]="{title: 'samsung', oldPrice: 2000, newPrice: 1500, rating: .9, ratingNum: 32}">
              </app-prod-card>
            </div>
            <div class="swiper-slide">
              <app-prod-card [product]="{title: 'samsung', oldPrice: 2000, newPrice: 1500, rating: .9, ratingNum: 32}">
              </app-prod-card>
            </div>
            <div class="swiper-slide">
              <app-prod-card [product]="{title: 'samsung', oldPrice: 2000, newPrice: 1500, rating: .9, ratingNum: 32}">
              </app-prod-card>
            </div>
            <div class="swiper-slide">
              <app-prod-card [product]="{title: 'samsung', oldPrice: 2000, newPrice: 1500, rating: .9, ratingNum: 32}">
              </app-prod-card>
            </div>
          </swiper> -->
        </div>
      </div>
      <nz-divider></nz-divider>
      <div class="most-feat">
        <h2 class="title">Clothes</h2>
        <div class="most-feat-container">
          <!-- <app-prod-carousel
            [products]="[{title: 'samsung', oldPrice: 2000, newPrice: 1500, rating: .9, ratingNum: 32},{title: 'samsung', oldPrice: 2000, newPrice: 1500, rating: .9, ratingNum: 32},{title: 'samsung', oldPrice: 2000, newPrice: 1500, rating: .9, ratingNum: 32},{title: 'samsung', oldPrice: 2000, newPrice: 1500, rating: .9, ratingNum: 32},{title: 'samsung', oldPrice: 2000, newPrice: 1500, rating: .9, ratingNum: 32},{title: 'samsung', oldPrice: 2000, newPrice: 1500, rating: .9, ratingNum: 32}]">
          </app-prod-carousel> -->
        </div>
      </div>
      <nz-divider></nz-divider>
      <div class="most-feat">
        <h2 class="title">Accessories</h2>
        <div class="most-feat-container">
          <!-- <app-prod-carousel
            [products]="[{title: 'samsung', oldPrice: 2000, newPrice: 1500, rating: .9, ratingNum: 32},{title: 'samsung', oldPrice: 2000, newPrice: 1500, rating: .9, ratingNum: 32},{title: 'samsung', oldPrice: 2000, newPrice: 1500, rating: .9, ratingNum: 32},{title: 'samsung', oldPrice: 2000, newPrice: 1500, rating: .9, ratingNum: 32},{title: 'samsung', oldPrice: 2000, newPrice: 1500, rating: .9, ratingNum: 32},{title: 'samsung', oldPrice: 2000, newPrice: 1500, rating: .9, ratingNum: 32}]">
          </app-prod-carousel> -->
        </div>
      </div>
    </div>
  </section>
</div>
