<div class="home">
  <app-carousel></app-carousel>
  <section class="departs">
    <div class="container">
      <h2 class="title">What are you looking for?</h2>
      <div class="departs-container">
          <swiper class="swiper" [config]="circlarConfig" [index]="0">
            <div class="swiper-slide" *ngFor="let depart of departs">
              <app-circular class="circuler" [text]="depart.name"></app-circular>
            </div>
            <div class="swiper-slide" *ngFor="let depart of departs">
              <app-circular class="circuler" [text]="depart.name"></app-circular>
            </div>
          </swiper>
      </div>
    </div>
  </section>
  <div class="container">
    <nz-divider></nz-divider>
  </div>
  <section class="featured-products">
    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-3">
          <div class="feat-title">
            <h2>Check out our best mobile deals with up to 20% discount!</h2>
          </div>
        </div>
        <div class="col-12 col-lg-7 clearfix">
            <app-prod-card [product]="product" class="mr-2 mb-2" style="float: left;">
            </app-prod-card>
            <app-prod-card [product]="product" class="mr-2 mb-2" style="float: left;">
            </app-prod-card>
            <app-prod-card [product]="product" style="float: left;">
            </app-prod-card>
            <div style="clear: both"></div>
        </div>
        <div class="col-12 col-lg-2">
          <a href="#" class="show-more">show more...</a>
        </div>
      </div>
      <nz-divider></nz-divider>
      <div class="poster">
        <a href="#">
          <img src="assets/poster.svg" alt="poster">
        </a>
      </div>
      <div class="container">
        <nz-divider></nz-divider>
      </div>
      <div class="most-feat">
        <h2 class="title">featured products</h2>
        <div class="most-feat-container">
          <swiper class="swiper" [config]="config" [index]="0">
            <div class="swiper-slide" style="text-align: left;">
              <app-prod-card [product]="product">
              </app-prod-card>
            </div>
            <div class="swiper-slide" style="text-align: left;">
              <app-prod-card [product]="product">
              </app-prod-card>
            </div>
            <div class="swiper-slide" style="text-align: left;">
              <app-prod-card [product]="product">
              </app-prod-card>
            </div>
            <div class="swiper-slide" style="text-align: left;">
              <app-prod-card [product]="product">
              </app-prod-card>
            </div>
            <div class="swiper-slide" style="text-align: left;">
              <app-prod-card [product]="product">
              </app-prod-card>
            </div>
            <div class="swiper-slide" style="text-align: left;">
              <app-prod-card [product]="product">
              </app-prod-card>
            </div>
            <div class="swiper-slide" style="text-align: left;">
              <app-prod-card [product]="product">
              </app-prod-card>
            </div>
            <div class="swiper-slide" style="text-align: left;">
              <app-prod-card [product]="product">
              </app-prod-card>
            </div>

          </swiper>
        </div>
      </div>
      <nz-divider></nz-divider>
      <div class="most-feat">
        <h2 class="title">Clothes</h2>
        <div class="most-feat-container">
          <!-- <app-prod-carousel
            [products]="[{title: 'samsung', oldPrice: 2000, newPrice: 1500, rating: .9, ratingNum: 32},{title: 'samsung', oldPrice: 2000, newPrice: 1500, rating: .9, ratingNum: 32},{title: 'samsung', oldPrice: 2000, newPrice: 1500, rating: .9, ratingNum: 32},{title: 'samsung', oldPrice: 2000, newPrice: 1500, rating: .9, ratingNum: 32},{title: 'samsung', oldPrice: 2000, newPrice: 1500, rating: .9, ratingNum: 32},{title: 'samsung', oldPrice: 2000, newPrice: 1500, rating: .9, ratingNum: 32}]">
          </app-prod-carousel> -->
        </div>
      </div>
      <nz-divider></nz-divider>
      <div class="most-feat">
        <h2 class="title">Accessories</h2>
        <div class="most-feat-container">
          <!-- <app-prod-carousel
            [products]="[{title: 'samsung', oldPrice: 2000, newPrice: 1500, rating: .9, ratingNum: 32},{title: 'samsung', oldPrice: 2000, newPrice: 1500, rating: .9, ratingNum: 32},{title: 'samsung', oldPrice: 2000, newPrice: 1500, rating: .9, ratingNum: 32},{title: 'samsung', oldPrice: 2000, newPrice: 1500, rating: .9, ratingNum: 32},{title: 'samsung', oldPrice: 2000, newPrice: 1500, rating: .9, ratingNum: 32},{title: 'samsung', oldPrice: 2000, newPrice: 1500, rating: .9, ratingNum: 32}]">
          </app-prod-carousel> -->
        </div>
      </div>
    </div>
  </section>
</div>
