.swiper {
  width: 100%;
  // height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  overflow: hidden;
}

.circuler {
  transform: scale(.8);
}

.swiper::ng-deep .swiper.s-wrapper .swiper-wrapper .swiper-slide {
  overflow: visible;
}
.home {
  // height: 5000px;

  .title {
    text-align: center;
    position: relative;
    font-size: 1.6rem;
    font-weight: bold;
    &::before {
      content: "";
      position: absolute;
      bottom: -8px;
      left: 50%;
      transform: translateX(-50%);
      width: 38px;
      height: 3px;
      font-weight: bold;
      background-color: #0077C0;
    }
  }

  .departs {
    padding-top: 20px;
    .departs-container {
      display: flex;
      justify-content: center;
      align-items: center;

      div {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
      }
    }
  }

  .featured-products {
    padding-bottom: 25px;

    .feat-title {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 215px;
      line-height: 45px;
    }
    .cards-container {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-wrap: wrap;

      app-prod-card {
        margin-bottom: 10px;
      }
    }
    .show-more {
      font-size: 1.1rem;
      transition: color .3s;
      &:hover {
        color: #0077C0;
        text-decoration: underline;
      }
    }

    .poster {
      padding-top: 15px;
      img {
        width: 100%;
        object-fit: cover;
        object-position: left;
      }
    }
    .most-feat {

      margin-top: -17px;

      .most-feat-container {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
      }
    }


  }

}

.clearfix {
  overflow: hidden;
}

.middle-sec {
  height: 280px;
  &::ng-deep .prod-card {
    height: 260px !important;
  }
}
.checkout {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media (max-width: 992px) {
  .feat-title {
    height: auto !important;
    line-height: normal !important;
  }
  .circuler {
    transform: scale(.8) !important;
  }
  .show-more {
    display: block;
    text-align: center;
    background-color: #1d242b;
    color: white;
    padding: 2px 0;
    line-height: 28.641px;
    margin-top: 10px;
    border-radius: 2px;

    &:hover {
      color: white !important;
      background-color: #2f3841;
    }
  }
}
