<div class="likes">
  <div class="container">
    <h2 class="title-of-site mb-3">Liked Products</h2>
    <div class="prods-section">
      <div class="mr-3" *ngFor="let prod of products;trackBy: trackByFun">
        <app-prod-card [product]="prod"></app-prod-card>
      </div>
      <div class="notfound" *ngIf="products.length===0 && !loading">
        <img src="assets/notfound.svg" alt="not found">
      </div>
    </div>
    <div class="pagin-contain" *ngIf="products.length > 0 && !loading">
      <nz-pagination [nzPageIndex]="page" [nzTotal]="count" [nzPageSize]="16" (nzPageIndexChange)="goPage($event)"></nz-pagination>
    </div>
  </div>
</div>

