.likes {
  padding: 30px 0 10px;
}

.prods-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.pagin-contain {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin-top: 20px;
}
