.search-form {
  display: flex;

  input {
    margin-right: 10px;
  }
}

::ng-deep .updatebtn.ant-btn-primary{
  background-color: #0077c0;
  border-color: #0077c0;
}

.categories-table {
    margin-top: 15px;
}

.addCat {
  text-align: right;
}

.cat-img {
  width: 210px;
  max-height: 85px;
  object-fit: cover;
  object-position: center;
}
