.signup {
  padding: 15px 0 25px;
}
.paragraph {
  font-size: 1.09rem;
  color: #9d9898;
  line-height: 1.8;
}

.img-contain {
  text-align: center;
  margin: 25px;

  img {
    width: 80%;
  }
}

.login {
  text-align: right;
  margin-bottom: 27px;
  margin-top: -20px;

  a {
    font-size: 1rem;
    transition: .3s;
    color: #0077C0;
    text-decoration: underline;

    &:hover {
      color: #1D242B;
    }
  }
}
