<footer>
  <div class="overlay" *ngIf="loading">
    <nz-spin nzSimple [nzSize]="'large'"></nz-spin>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-12">
        <div class="row">
          <div class="col-md-4" *ngFor="let foot of footerParts;trackBy: trackByFun">
            <h3 class="part-title">{{foot.field.title}}</h3>
            <div class="links">
              <div *ngFor="let row of foot.field.rows;trackBy: trackByFun">
                <a class="footer-link" [routerLink]="row.path">{{row.title}}</a>
              </div>
            </div>
            <nz-divider class="d-md-none"></nz-divider>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-12">
        <div class="get-in-touch">
          <nz-divider class="d-none d-md-block d-lg-none"></nz-divider>
          <div class="head">
            <img src="assets/logo.svg" alt="logo">
            <h2>get in touch with our updates!</h2>
          </div>
          <div class="body">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</p>
          </div>
          <form>
            <input nz-input type="text" placeholder="xxx@xxx.com" #email>
            <button nz-button nzType="primary" nzSize="large" (click)="addSub(email.value)">
              <i nz-icon nzType="send" nzTheme="outline"></i>
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="copyright">
    &copy; copywrites is saved to <a routerLink="/" style="color: #0077C0;">Warehouse</a>
  </div>
</footer>
