<nav>
  <div class="container">
    <div class="nav">
      <a class="logo" routerLink='/'>
        <img src="assets/logo.svg" alt="logo">
      </a>
      <div class="menu-bar">
        <a href="#" (click)="$event.preventDefault();visible=true">
          <i class="d-lg-none" nz-icon nzType="align-right" nzTheme="outline"></i>
        </a>
        <nz-drawer [nzClosable]="false" [nzVisible]="visible" nzPlacement="right" nzTitle="Warehouse"
          (nzOnClose)="visible = false">
          <div class="restform draw">
            <a routerLink="/likes" class="heart">
              <i nz-icon nzType="heart" nzTheme="outline"></i>
              <nz-badge nzStandalone [nzCount]="likescount"></nz-badge>
            </a>
            <a routerLink="/cart" class="cart-icon">
              <img src="assets/cart.svg" alt="logo">
              <nz-badge nzStandalone [nzCount]="cartcount"></nz-badge>
            </a>
            <div class="search">
              <i nz-icon nzType="search" nzTheme="outline"></i>
            </div>
          </div>
          <ul nz-menu nzMode="inline">
            <li nz-menu-item nzMatchRouter="/" nzMatchRouterExact="true">
              <a routerLink="/">Home</a>
            </li>
            <li nz-menu-item><a routerLink="/categories">Categories</a></li>
            <li nz-menu-item><a routerLink="#">About</a></li>
            <li nz-menu-item><a routerLink="#">Contact</a></li>
            <nz-divider></nz-divider>
            <li *ngIf="!user?.loading && !user?.id" nz-menu-item nzMatchRouter="/auth/signup">
              <a routerLink="/auth/signup">Sign up</a>
            </li>
            <li *ngIf="!user?.loading && !user?.id" nz-menu-item nzMatchRouter="/auth/login">
              <a routerLink="/auth/login">Log in</a>
            </li>
            <li nz-menu-item *ngIf="!user?.loading && user?.id">
              <a routerLink="#">profile page</a>
            </li>
            <li *ngIf="!user?.loading && user?.id" nz-menu-item nzDanger (click)="logOut()">Log out</li>
          </ul>
        </nz-drawer>
      </div>
      <ul class="menu d-none d-lg-flex">
        <li><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a></li>
        <li><a routerLink="/categories" routerLinkActive="active">Categories</a></li>
        <li><a routerLink="#" routerLinkActive="active">About</a></li>
        <li><a routerLink="#" routerLinkActive="active">Contact</a></li>
      </ul>
      <div class="restform d-none d-lg-flex">
        <a routerLink="/likes" class="heart">
          <i nz-icon nzType="heart" nzTheme="outline"></i>
          <nz-badge nzStandalone [nzCount]="likescount"></nz-badge>
        </a>
        <a class="cart-icon" (click)="cartDrawer = true">
          <img src="assets/cart.svg" alt="logo">
          <nz-badge nzStandalone [nzCount]="cartcount"></nz-badge>
        </a>
        <div class="search">
          <i nz-icon nzType="search" nzTheme="outline"></i>
        </div>
        <div *ngIf="!user?.loading && !user?.id" class="auth">
          <a nz-button nzType="primary" class="primary" routerLink="/auth/signup">Sign up</a>
          <a nz-button nzType="default" routerLink="/auth/login">Log in</a>
        </div>
        <nz-spin *ngIf="user?.loading"></nz-spin>
        <a *ngIf="!user?.loading && user?.id" class="user-img" nz-dropdown nzTrigger="click" [nzDropdownMenu]="menu">
          <span>{{user.name}}</span>
          <img src="assets/user.png" alt="user">
        </a>
      </div>
    </div>
  </div>
</nav>

<nz-drawer  [nzWidth]="555"
            [nzClosable]="false"
            [nzVisible]="cartDrawer"
            nzPlacement="right"
            (nzOnClose)="cartDrawer = false">
          <div class="cart-side">
            <div class="container">
              <div class="sider-cart">
                <div class="header">
                    <h2 class="title-of-site">Cart</h2>
                  <div>
                    <a routerLink="/cart">Go to full cart...</a>
                  </div>
                </div>
              </div>
              <div class="empty-cart" *ngIf="cart.length === 0">
                <img style="width: 70%;" src="assets/emptycart.svg" alt="Empty Cart">
              </div>
              <app-cart-card *ngFor="let item of cart;trackBy: trackByFun" [cart]="item"></app-cart-card>
            </div>
            <div class="total-cost">
              <h2>Total cost</h2>
              <h3 class="price">{{totalPrice | currency}}</h3>
            </div>
          </div>

</nz-drawer>

<nz-dropdown-menu #menu="nzDropdownMenu">
  <ul nz-menu>
    <li nz-menu-item>Profile page</li>
    <li nz-menu-item routerLink="/admin" *ngIf="user.isAdmin">Admin page</li>
    <li nz-menu-item nzDanger (click)="logOut()">Log out</li>
  </ul>
</nz-dropdown-menu>
