<nav>
  <div class="container">
    <div class="nav">
      <a class="logo" routerLink='/'>
        <img src="assets/logo.svg" alt="logo">
      </a>
      <div class="menu-bar">
        <a href="#" (click)="$event.preventDefault();visible=true">
          <i class="d-lg-none" nz-icon nzType="align-right" nzTheme="outline"></i>
        </a>
        <nz-drawer [nzClosable]="false" [nzVisible]="visible" nzPlacement="right" nzTitle="Warehouse"
          (nzOnClose)="visible = false">
        </nz-drawer>
      </div>
      <ul class="menu d-none d-lg-flex">
        <li class="active"><a routerLink="/">Home</a></li>
        <li><a routerLink="#">Categories</a></li>
        <li><a routerLink="#">About</a></li>
        <li><a routerLink="#">Contact</a></li>
      </ul>
      <div class="restform d-none d-lg-flex">
        <div class="heart">
          <i nz-icon nzType="heart" nzTheme="outline"></i>
        </div>
        <div class="cart-icon">
          <img src="assets/cart.svg" alt="logo">
        </div>
        <div class="search">
          <i nz-icon nzType="search" nzTheme="outline"></i>
        </div>
        <div *ngIf="!user?.loading && !user?.id" class="auth">
          <a nz-button nzType="primary" class="primary" routerLink="/auth/signup">Sign up</a>
          <a nz-button nzType="default" routerLink="/auth/login">Log in</a>
        </div>
        <nz-spin *ngIf="user?.loading"></nz-spin>
        <a *ngIf="!user?.loading && user?.id" class="user-img" nz-dropdown nzTrigger="click" [nzDropdownMenu]="menu">
          <span>{{user.name}}</span>
          <img src="assets/user.png" alt="user">
        </a>
      </div>
    </div>
  </div>
</nav>

<nz-dropdown-menu #menu="nzDropdownMenu">
  <ul nz-menu>
    <li nz-menu-item>profile page</li>
    <li nz-menu-item nzDanger (click)="logOut()">log out</li>
  </ul>
</nz-dropdown-menu>
