.insideCar {
  height: 400px;
  padding: 70px;
  display: flex;
  align-items: center;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.insideCar::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .6);
  z-index: 0;
}
.insideCar .car-input {
  position: relative;
  width: 100%;
  z-index: 100;
  text-align: start;
}
.insideCar .car-input h2 {
  color: white;
  font-size: 1.8rem;
}
.insideCar .car-input p {
  color: #bfbbbb;
  line-height: 1.8;
  font-size: 1.1rem;
}

@media (min-width: 768px) {
  .insideCar .car-input {
    position: relative;
    width: 50%;
  }
}

@media (min-width: 768px) {
  .insideCar .car-input h2 {
    font-size: 3rem;
  }
}
.insideCar .car-input::ng-deep.ant-btn {
  padding: 10px 45px 40px;
  line-height: 30px;
  color: #1D242B;
  background-color: white;
  border: none;
  font-size: 1rem;
}
.insideCar .car-input a:hover {
  background-color: #188fff;
  text-decoration: none;
}

::ng-deep .carousel .swiper-button-next {
  color: white !important;
}
::ng-deep .carousel .swiper-button-prev {
  color: white !important;
}

::ng-deep .swiper-pagination-bullet {
  background-color: white !important;
  width: 20px !important;
  height: 7px !important;
  border-radius: 0 !important;
  transition: .3s !important;
}

::ng-deep .swiper-pagination-bullet.swiper-pagination-bullet-active {
  width: 30px !important;
}

.car-img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0
  ;left: 0;
  object-fit: cover;
  z-index: -1;
}
