.prod-card {
  border-radius: 3px;
  position: relative;
  width: 150px;
  height: 201px;
  box-shadow: 0.5px 1.5px 8px #00000026;
  padding: 0px 10px;
  background-color: white;
  transition: .3s transform;

  &:hover {
    transform: translateY(-10px);
  }

  .prod-rate {
    margin-top: -9px;
    ::ng-deep .ant-rate {
      font-size: 14px;
      margin-top: 3px;
      .ant-rate-star:not(:last-child) {
        margin-right: 0;
    }
    }
  }
}
.card-title {
  margin-bottom: 0;
}
.img-contain {
  margin-top: 8px;
}
.img-contain img {
  width: 100%;
  height: 110px;
  object-fit: cover;
  margin-top: 16px;
}

.action {
  position: absolute;
  bottom: 8px;
  right: 8px;
  display: flex;
  flex-direction: column;
  z-index: 3;
}
.heart-icon {
  font-size: 21px;
  margin-bottom: 6px;
  color: #c7c7c7;
  cursor: pointer;
}
.heart-icon.liked {
  color: #ff4e4e;
}
.add-to-cart-icon {
  width: 21px;
}
.old-price {
  text-decoration: line-through;
  color: #c7c7c7;
}
.price {
  color: #0077C0;
  font-weight: bold;
}
.ribbon {
  position: absolute;
  left: -5px;
  top: -5px;
  z-index: 1;
  overflow: hidden;
  width: 75px;
  height: 75px;
}
.ribbon span {
  color: #fff;
  background-color: #1D242B;
  text-align: center;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  width: 100px;
  display: block;
  box-shadow: 0 3px 10px -5px #000;
  position: absolute;
  top: 19px;
  left: -21px;
  font-size: 10px;
  line-height: 20px;
}
.ribbon span:before {
  content: '';
  position: absolute;
  left: 0;
  top: 100%;
  z-index: -1;
  border-left: 3px solid #1D242B;
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #1D242B;
}
.ribbon span:after {
  content: '';
  position: absolute;
  right: 0%;
  top: 100%;
  z-index: -1;
  border-right: 3px solid #1D242B;
  border-left: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #1D242B;
  border-right-color: #1D242B;
  border-top-color: #1D242B;
}
.cart-icon {
  position: relative;
  i {
    position: absolute;
    top: 3px;
    left: 1px;
    font-size: 23px;
    color: #0077c0;
  }
}
