nz-card {
  width: 213px;
  height: 277px;

    .ant-card-meta-description {
      text-decoration: line-through;
    }
    .ant-card-body {
      padding: 24px 10px;
    }
  }
nz-rate {
  &::ng-deep {
    .ant-rate-star {
      margin-right: 0;
      font-size: 14px;
    }
  }
}

@media (max-width: 678px) {
  nz-card {
    width: 153px;
    height: 255px;
  }
  ::ng-deep .ant-card-body {
    padding: 7px;
  }
}

.card-foot {

  .price {
    color: #0077C0;
    font-weight: 500;
    margin-bottom: -14px;
  }
}

button {
  padding: 4px 4px;
}

::ng-deep nz-card .ant-card-cover img {
  height: 150px;
  width: 150px;
  object-fit: cover;
  margin: 1px auto auto;
}
