<div class="login">
  <div class="container">
    <div class="row">
      <div class="col-lg-5">
        <h3 class="title-of-site" nz-typography>Login</h3>
        <p class="paragraph">When you log in to the site you have access to add to cart and make orders and also like products, rate them and comment on them and up comments to be top related.</p>

          <form [formGroup]="loginForm">
            <nz-form-item class="d-block">
              <nz-form-label nzFor="email">email</nz-form-label>
              <nz-form-control
                [nzValidateStatus]="(loginForm.controls.email.invalid && loginForm.controls.email.touched) ? 'error': ''"
                nzErrorTip="email is invalid">
                <input nz-input formControlName="email" placeholder="email" type="email" id="email">
              </nz-form-control>
            </nz-form-item>
            <nz-form-item class="d-block">
              <nz-form-label nzFor="password">password</nz-form-label>
              <nz-form-control
                [nzValidateStatus]="(loginForm.controls.password.invalid && loginForm.controls.password.touched) ? 'error': ''"
                [nzErrorTip]="loginForm.controls.password.errors?.required ? 'password is required':'min length is 6'">
                <input nz-input formControlName="password" placeholder="password" type="password" id="password">
              </nz-form-control>
            </nz-form-item>

            <div class="signup">
              <a routerLink="/auth/signup">You don't have account yet?</a>
            </div>
            <div class="sub-btn">
              <button nz-button nzType="primary" type="submit" (click)="handleSubmit()">Submit</button>
            </div>
          </form>
      </div>
      <div class="col-lg-7 d-none d-lg-block">
        <img style="width: 100%;" src="assets/loginimage.svg" alt="login">
      </div>
    </div>
  </div>
</div>
