.cart {
  padding: 40px 0 10px;
}

.cart-contain {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.title-of-site::before {
  width: 22px !important;
}
.pagin-contain {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 0px;
}
.empty-cart {
  display: flex;
  justify-content: center;
  img {
    width: 450px;
  }
}
@media (max-width: 576px) {
  .empty-cart {
    img {
      width: 100%;
    }
  }
}
.go-home {
  text-align: center;
}
