<div class="overlay" *ngIf="loading">
  <nz-spin nzSimple [nzSize]="'large'"></nz-spin>
</div>
<div class="cart">
  <div class="container">
    <div class="d-flex justfy-sb">
      <h2 class="title-of-site mb-4">Cart</h2>
      <button nz-button nzType="primary" (click)="showOrder=true">Order Now!</button>
    </div>
    <div class="cart-contain">
      <app-cart-card  class="m-2"
                      *ngFor="let item of cart;trackBy: trackByFun"
                      [cart]="item"
                      (deleteFromCart)="deleteFromCart($event)"
                      ></app-cart-card>
    </div>
    <div class="empty-cart" *ngIf="!loading && cart.length === 0">
      <img src="assets/emptycart.svg" alt="Empty Cart">
    </div>
    <div class="pagin-contain" *ngIf="cart.length > 0 && !loading">
      <nz-pagination [nzPageIndex]="page" [nzTotal]="count" [nzPageSize]="8" (nzPageIndexChange)="goPage($event)"></nz-pagination>
    </div>
  </div>
  <div *ngIf="!loading && cart.length === 0" class="go-home">
    <a routerLink="/" nz-button nzType="primary">Go Home</a>
  </div>
</div>

<nz-modal [nzWidth]="800" [(nzVisible)]="showOrder" nzTitle="Order">
  <ng-container *nzModalContent>
    <app-order></app-order>
  </ng-container>
  <ng-container *nzModalFooter></ng-container>>
</nz-modal>
